In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
data_subtitle = pd.read_csv('/content/drive/My Drive/Fixy/ki_data_subtitle_final_X.csv')
data_wiki = pd.read_csv('/content/drive/My Drive/Fixy/ki_data_wiki_final_X.csv')
data_news = pd.read_csv('/content/drive/My Drive/Fixy/ki_data_news_final_X.csv')

In [4]:
print(data_subtitle.shape)
data_subtitle.head(n=10)

(283558, 2)

                                                line  y
0  Ama bilmelisin X Spencer Ricks de o sayıda ola...  0
1                                Pe X ya siz, hocam?  1
2                 En azından bir iç X ısmarlasaydın.  1
3  Kıçımı es X ihtişamına geri getirmenizi istiyo...  1
4        Sadece diyelim X onun gibi birisi daha yok.  0
5                                  -Ne olmuş X orda?  0
6                 Orada X tüm kaynaklar bize aittir.  0
7                    Şansım vardı X beni bıraktılar.  0
8                               - Tabii X seviyorum.  0
9                Ne yazık X oraya ilk sen gitmişsin.  0

In [5]:
print(data_wiki.shape)
data_wiki.head(n=10)

(20516, 2)

                                                line  y
0                    . Evli ve i X çocuk babasıdır .  1
1               o kadar belirgindir X , aşağı yukarı  0
2              Tabata , bir önce X sezon olduğu gibi  1
3           sebebi ile bir önce X ayete istinaden bu  1
4     vay haline , X onlar namazlarından gafildirler  0
5  deliği ) mağarasıda es X dönemlerde insanların...  1
6  aile ve belgesel türünde X filmdir . Türkiye'deki  1
7  görülmektedir . Bu kesimde X kazılarda ulaşıla...  1
8      öylesine hızlı batmıştı X geminin içindeki 81  0
9             üzerine Muhammed dedi X , " Münafıklar  0

In [6]:
print(data_news.shape)
data_news.head(n=10)

(170, 2)

                                                line  y
0  şekil X Ay'ın yüzeyini İstanbul'daki rasathane...  1
1  inceledikten sonra öğleden sonraki görüşmeleri...  1
2            15 dakika için X iki kere yüz X 100'lük  1
3  Fransa ligin X iki eski Beşiktaşlı oyuncuyu karşı  1
4               3 ana kategori X iki gün boyunca 132  1
5                   iddia ... Nitekim iki otel X pek  0
6     . Belki X filmdeki karakterden etkilenerek ara  0
7             . Şimdi diyorlar ki Hitler X sandıktan  0
8   Brüksel X olduğu için önümüzdeki hafta bu konuyu  1
9  haritasıdır . İnşallah önümüzdeki günler X 3. ...  1

In [7]:
data = pd.concat([data_news, data_wiki, data_subtitle])
data = data.sample(frac=1).reset_index(drop=True)
data['line'] = data['line'].str.lower() 
print(data.shape)
data.head(n=10)

(304244, 2)

                                                line  y
0                        karşı tarafta x kapıya git.  1
1                                 - i̇ x kişilikmiş.  1
2              lisedeyken iç x kaçakçılığı yapardım.  1
3  binbaşı, şüphem yok x geçmişindeki şiddet sonu...  0
4  nayam-singh, arkady kolcheck'in sektörde x rak...  1
5                              sana bir iç x alayım.  1
6         - bu akşam x maçı dominique organize etti.  1
7       ron'la öpüşür . sonra x bölümlerde de ron'la  1
8          şu arkada x bölge de plana dahil mi peki?  1
9                                   - pe x bu nedir?  1

In [8]:
data.to_csv('/content/drive/My Drive/Fixy/merged_ki_final_X.csv', encoding='utf-8', index=False)