In [29]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [30]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Fixy/ki_news_both.txt', sep= '\t', error_bad_lines=False, engine='python', header=None)

Skipping line 30: '	' expected after '"'
Skipping line 56: '	' expected after '"'
Skipping line 87: '	' expected after '"'
Skipping line 88: '	' expected after '"'
Skipping line 92: '	' expected after '"'
Skipping line 151: '	' expected after '"'
Skipping line 201: '	' expected after '"'
Skipping line 252: '	' expected after '"'
Skipping line 261: '	' expected after '"'
Skipping line 282: '	' expected after '"'
Skipping line 295: '	' expected after '"'
Skipping line 397: '	' expected after '"'
Skipping line 400: '	' expected after '"'
Skipping line 401: '	' expected after '"'
Skipping line 402: '	' expected after '"'
Skipping line 484: '	' expected after '"'
Skipping line 507: '	' expected after '"'
Skipping line 536: '	' expected after '"'
Skipping line 583: '	' expected after '"'
Skipping line 589: '	' expected after '"'
Skipping line 595: '	' expected after '"'
Skipping line 688: '	' expected after '"'
Skipping line 820: '	' expected after '"'
Skipping line 944: '	' expected after '"'
Skipping line 1035: '	' expected after '"'
Skipping line 1202: '	' expected after '"'
Skipping line 1310: '	' expected after '"'
Skipping line 1661: '	' expected after '"'
Skipping line 1805: '	' expected after '"'
Skipping line 1807: '	' expected after '"'
Skipping line 1917: '	' expected after '"'
Skipping line 1929: '	' expected after '"'
Skipping line 2003: '	' expected after '"'
Skipping line 2122: '	' expected after '"'
Skipping line 2137: '	' expected after '"'
Skipping line 2451: '	' expected after '"'
Skipping line 2692: '	' expected after '"'
Skipping line 2754: '	' expected after '"'
Skipping line 2916: '	' expected after '"'
Skipping line 2988: '	' expected after '"'
Skipping line 3092: '	' expected after '"'
Skipping line 3139: '	' expected after '"'
Skipping line 3238: '	' expected after '"'
Skipping line 3363: '	' expected after '"'
Skipping line 3390: '	' expected after '"'

In [31]:
df[0] = df[2]
del df[1]
del df[2]

In [32]:
df.head()

                                                   0
0  apartman inşaatında çalışan iki taşralı işçidir .
1         korkup kaçmayı düşünen iki kafadar , Nizam
2  başlar . İnşaatın karşısındaki bir apartmandan...
3  geceyarısı gidip gelenler konusundaki kuşkular...
4                     azdır ne yazık ki ! Ömer Vargı

In [33]:
ki_both = df[df[0].str.contains("ki ")]
ki_bitisik = ki_both[~ki_both[0].str.contains(" ki ")]
ki_ayrı = ki_both[ki_both[0].str.contains(" ki ")]
ki_bitisik.head()
print(ki_bitisik.shape)
print(ki_ayrı.shape)

(3104, 1)
(249, 1)

In [34]:
ki_bitisik[0]= ki_bitisik[0].str.replace("ki ", " X ", case = False) 
ki_ayrı[0]= ki_ayrı[0].str.replace(" ki ", " X ", case = False) 

ki_bitisik = ki_bitisik[ki_bitisik[0].str.split().str.len().lt(10)]
ki_ayrı = ki_ayrı[ki_ayrı[0].str.split().str.len().lt(10)]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [35]:
ki_bitisik = ki_bitisik.sample(frac=1).reset_index(drop=True)
ki_ayrı = ki_ayrı.sample(frac=1).reset_index(drop=True)

In [36]:
ki_bitisik = ki_bitisik.sample(ki_ayrı.shape[0]).reset_index(drop=True)

In [37]:
print(ki_ayrı.shape)
print(ki_bitisik.shape)

(245, 1)
(245, 1)

In [38]:
data_bitisik = ki_bitisik
data_ayrı = ki_ayrı

In [39]:
data_bitisik['y'] = 1
data_ayrı['y'] = 0

In [40]:
data_final = pd.concat([data_bitisik, data_ayrı])
data_final = data_final.sample(frac=1).reset_index(drop=True)
data_final.head(n=20)

                                                    0  y
0     gösteriyoruz . İstiyoruz X , gençlerimiz sporla  0
1                      dönüyor . Öyle X , bazıları bu  0
2   böbrek hasarları beyin damarlarında X sorunlar...  1
3                   bir bölgeydi oysa X . Olimpiyat ,  0
4   Eyüboğlu'na yeni yapılan tesiste X eksiklerin ...  1
5                   yaratmak da tabi X bir süreçtir .  0
6       , profesyonelliğime tabii X çok fazla katkısı  0
7              iki örnek tabii X birbirine benzemez .  0
8       . Ben inanıyorum X ekonomik açıdan etkileyici  0
9                  para etmez şu bizde X aşk olmasa "  1
10              şunu bilmem gerekirdi X , her sebeple  0
11  ) adamlarıyla birlikte kentte X küçük esnaf üz...  1
12                      . Evli ve i X çocuklu ama bir  1
13                    çıkan sonuç şu X Türk Telekom ,  0
14             konuşuluyor . Demek X bizde en azından  0
15     öyle bir rejisördü X ben çocukken hatırlıyorum  0
16     Türkiye ile yakın iliş X kurulmalı ama Türkiye  1
17  önce bilgisayara yüklenmiş yazılımda X algorit...  1
18                 gönderiyor ve diyor X , ‘ Buradaki  0
19  algılıyor ve savunma durumunda X ruh haliyle y...  1

In [41]:
data_final = data_final.rename(columns={0: 'line'})

In [42]:
print(data_final.shape)

(490, 2)

In [43]:
data_final.to_csv('/content/drive/My Drive/Fixy/ki2222_data_news_final_X.csv', encoding='utf-8', index=False)