In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
import pandas as pd
data_subtitle = pd.read_csv('/content/drive/My Drive/Fixy/data_subtitle_final_X.csv')
data_wiki = pd.read_csv('/content/drive/My Drive/Fixy/data_wiki_final_X.csv')
data_news = pd.read_csv('/content/drive/My Drive/Fixy/dade_data_news_final_X.csv')

In [9]:
print(data_subtitle.shape)
data_subtitle.head(n=10)

(3027362, 2)

                                                line  y
0         Enin X sonunda herkes bir noktada buluşur.  1
1                     Ama ora X gallivanting mesgul.  1
2    Ve zamanı gelince benim X yerime başkası geçti.  0
3                     Sadece bir tane var o X bende.  0
4        Voldemort ilk yükseldiğin X çok modaydılar.  1
5  Daha fazlasını yapacaksın. Sonra hep ön X olac...  1
6       Bir o X dolusu kadın beni isteyecekse varım.  1
7  Bir an X işler pek de mükemmel görünmemeye baş...  1
8                     Trambolin X zıplıyordu, düştü.  1
9                     Bu Ateş Mağarası X neyin nesi?  0

In [10]:
print(data_wiki.shape)
data_wiki.head(n=10)

(567051, 2)

                                                line  y
0        ve 1980'li yıllar X popüler olan elektronik  1
1           oturma yerleri ya X gradenler yükselir .  0
2     oyun kurucuları arasın X gösteriliyordu . Aynı  1
3            yazdı . 1928' X Marktredwitz'de öldü ve  1
4   Almanya'nın birçok bölgesin X inşa ettiği kilise  1
5  buluşma ve kutlamaların X düzenlenebildiği bir...  0
6                     1939 ) daha X arttı . Tahtadan  0
7  yazılımlar geliştirilmeye başlansa X ; gelinen...  0
8  1939 yılları arasın X idarecilik kariyerinde s...  1
9  Mario Carrillo yönetimin X 2005 Clausura sezou...  1

In [11]:
print(data_news.shape)
data_news.head(n=10)

(10816, 2)

                                                line  y
0   özellikle İnsan Hakları konusun X hızı bir türlü  1
1  yetkilendirilmiş Cumhuriyet savcılarının nezar...  1
2                  Onca yıl modanın için X kal , piş  1
3  vurgu yaptığı haber analiz X “ Türkiye’nin kek...  1
4      orta ve uzun dönem X daha da sağlamlaştıracak  1
5                  dış hat uçuşlar X yüzde 26 oldu .  1
6         kendisi bugün X aramızda olsaydı . Türkler  0
7       , işçilerin profillerini X değiştirdi . Yeni  0
8  hazırlattıkları değişiklik metinlerini X dikka...  0
9     küçük Santa Maria kentin X üslendi . Mahkemede  1

In [14]:
data = pd.concat([data_news, data_wiki, data_subtitle])
data = data.sample(frac=1).reset_index(drop=True)
data['line'] = data['line'].str.lower() 
print(data.shape)
data.head(n=10)

(3605229, 2)

                                                line  y
0                           bunun x baş parmağı yok.  0
1                                    - bren x leigh.  1
2  ya şimdi buradan defolursunuz ya x karşınızda ...  0
3                                öyle x diyebiliriz.  0
4                    kırmızıydı, ora x duruyor işte.  1
5        belki x başka bir yere gitmeliyiz, hayatım.  0
6                    belli bir düzey x ortak çaba ve  1
7            sonraki yarış hakkın x ne düşünüyorsun?  1
8           her iki kuruma x sadık yerlilerin gözüne  0
9  ders programının dışın x olduğunu söyleyebilir...  1

In [15]:
data.to_csv('/content/drive/My Drive/Fixy/merged_de_da_final_X.csv', encoding='utf-8', index=False)