In [117]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [118]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Fixy/ki_news_both.txt', sep= '\t', error_bad_lines=False, engine='python', header=None)

Skipping line 30: '	' expected after '"'
Skipping line 56: '	' expected after '"'
Skipping line 87: '	' expected after '"'
Skipping line 88: '	' expected after '"'
Skipping line 92: '	' expected after '"'
Skipping line 151: '	' expected after '"'
Skipping line 201: '	' expected after '"'
Skipping line 252: '	' expected after '"'
Skipping line 261: '	' expected after '"'
Skipping line 282: '	' expected after '"'
Skipping line 295: '	' expected after '"'
Skipping line 397: '	' expected after '"'
Skipping line 400: '	' expected after '"'
Skipping line 401: '	' expected after '"'
Skipping line 402: '	' expected after '"'
Skipping line 484: '	' expected after '"'
Skipping line 507: '	' expected after '"'
Skipping line 536: '	' expected after '"'
Skipping line 583: '	' expected after '"'
Skipping line 589: '	' expected after '"'
Skipping line 595: '	' expected after '"'
Skipping line 688: '	' expected after '"'
Skipping line 820: '	' expected after '"'
Skipping line 944: '	' expected after '"'
Skipping line 1035: '	' expected after '"'
Skipping line 1202: '	' expected after '"'
Skipping line 1310: '	' expected after '"'
Skipping line 1661: '	' expected after '"'
Skipping line 1805: '	' expected after '"'
Skipping line 1807: '	' expected after '"'
Skipping line 1917: '	' expected after '"'
Skipping line 1929: '	' expected after '"'
Skipping line 2003: '	' expected after '"'
Skipping line 2122: '	' expected after '"'
Skipping line 2137: '	' expected after '"'
Skipping line 2451: '	' expected after '"'
Skipping line 2692: '	' expected after '"'
Skipping line 2754: '	' expected after '"'
Skipping line 2916: '	' expected after '"'
Skipping line 2988: '	' expected after '"'
Skipping line 3092: '	' expected after '"'
Skipping line 3139: '	' expected after '"'
Skipping line 3238: '	' expected after '"'
Skipping line 3363: '	' expected after '"'
Skipping line 3390: '	' expected after '"'

In [119]:
df[0] = df[2]
del df[1]
del df[2]

In [120]:
df.head()

                                                   0
0  apartman inşaatında çalışan iki taşralı işçidir .
1         korkup kaçmayı düşünen iki kafadar , Nizam
2  başlar . İnşaatın karşısındaki bir apartmandan...
3  geceyarısı gidip gelenler konusundaki kuşkular...
4                     azdır ne yazık ki ! Ömer Vargı

In [121]:
da_both = df[df[0].str.contains("da ")]
da_bitisik = da_both[~da_both[0].str.contains(" da ")]
da_ayrı = da_both[da_both[0].str.contains(" da ")]
da_bitisik.head()
print(da_bitisik.shape)
print(da_ayrı.shape)

(398, 1)
(87, 1)

In [122]:
da_bitisik[0]= da_bitisik[0].str.replace("da ", " X ", case = False) 
da_ayrı[0]= da_ayrı[0].str.replace(" da ", " X ", case = False) 

da_bitisik = da_bitisik[da_bitisik[0].str.split().str.len().lt(10)]
da_ayrı = da_ayrı[da_ayrı[0].str.split().str.len().lt(10)]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [123]:
da_bitisik = da_bitisik.sample(frac=1).reset_index(drop=True)
da_ayrı = da_ayrı.sample(frac=1).reset_index(drop=True)

In [124]:
da_bitisik = da_bitisik.sample(da_ayrı.shape[0]).reset_index(drop=True)

In [125]:
print(da_ayrı.shape)
print(da_bitisik.shape)

(86, 1)
(86, 1)

In [126]:
de_both = df[df[0].str.contains("de ")]
de_bitisik = de_both[~de_both[0].str.contains(" de ")]
de_ayrı = de_both[de_both[0].str.contains(" de ")]
print(de_bitisik.shape)
print(de_ayrı.shape)

de_bitisik[0]= de_bitisik[0].str.replace("de ", " X ", case = False) 
de_ayrı[0]= de_ayrı[0].str.replace(" de ", " X ", case = False) 

de_bitisik = de_bitisik[de_bitisik[0].str.split().str.len().lt(10)]
de_ayrı = de_ayrı[de_ayrı[0].str.split().str.len().lt(10)]

de_bitisik = de_bitisik.sample(frac=1).reset_index(drop=True)
de_ayrı = de_ayrı.sample(frac=1).reset_index(drop=True)

de_bitisik = de_bitisik.sample(de_ayrı.shape[0]).reset_index(drop=True)

(346, 1)
(88, 1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [127]:
print(de_bitisik.shape)
print(de_ayrı.shape)

(85, 1)
(85, 1)

In [128]:
data_bitisik = pd.concat([da_bitisik, de_bitisik])
data_bitisik = data_bitisik.sample(frac=1).reset_index(drop=True)
data_bitisik.head(n=10)

                                                   0
0               İzmir’ X evli ve iki çocuk sahibi R.
1     süre önce ABC televizyonundaki bir program X ,
2  uzay aracı ile içindeki personeline yardım X b...
3  GÖRÜŞÜ- Duruşma X esas hakkındaki görüşünü açı...
4  Miks’in dünya X ve Türkiye’deki gelişiminin ya...
5       X , kur tarafındaki rahatlatıcı etki sınırlı
6  çalışmalarını sürdürdüğü ve önümüzdeki günler ...
7  Raporu’n X , AKP iktidarındaki 2002-2009 dönem...
8                    903+ , her iki yanın X yer alan
9  yılların X sürekli yoksulluk riski altın X ola...

In [129]:
data_ayrı = pd.concat([da_ayrı, de_ayrı])
data_ayrı = data_ayrı.sample(frac=1).reset_index(drop=True)
data_ayrı.head(n=10)

                                                   0
0  . ABD’li şirketlerin Türkiye’deki yatırımların...
1              ve JCR'dan sonra öceki gün X Standard
2           oyuncusuna X büyük tepki gösterdi . Emre
3     hoca tartışma nedeniyle iki oyuncusuna X büyük
4        kesilmeyen hak ihlallerinin belki X en açık
5    Dans Günü , Türkiye’deki sahnelere X sıçrayacak
6  TBMM'ye gelecek , belki X dokunulmazlığı kaldı...
7  Girişmen X ikinci sıradaki koltuğunu oldukça s...
8        ve belki X ülkedeki tüm kadınları 'Kurtuluş
9          memnun etmiştir . Önümüzdeki dönemde X bu

In [131]:
data_bitisik['y'] = 1
data_ayrı['y'] = 0

In [132]:
data_bitisik.head()

                                                   0  y
0  şekil X açıkladı : 'Washington'daki her birim ...  1
1               . Orada gördük ki , Türkiye' X motif  1
2  alanda düzenlenecek . Kültürpark'taki Doğaltaş...  1
3  ihtimali yüz X 5. Oxford'daki John Radcliffe H...  1
4     eserler var . Önümüzdeki dönem X olacak tarihi  1

In [133]:
data_final = pd.concat([data_bitisik, data_ayrı])
data_final = data_final.sample(frac=1).reset_index(drop=True)
data_final.head(n=20)

                                                    0  y
0   şekil X Ay'ın yüzeyini İstanbul'daki rasathane...  1
1   inceledikten sonra öğleden sonraki görüşmeleri...  1
2             15 dakika için X iki kere yüz X 100'lük  1
3   Fransa ligin X iki eski Beşiktaşlı oyuncuyu karşı  1
4                3 ana kategori X iki gün boyunca 132  1
5                    iddia ... Nitekim iki otel X pek  0
6      . Belki X filmdeki karakterden etkilenerek ara  0
7              . Şimdi diyorlar ki Hitler X sandıktan  0
8    Brüksel X olduğu için önümüzdeki hafta bu konuyu  1
9   haritasıdır . İnşallah önümüzdeki günler X 3. ...  1
10  çağırdı . Küçük yaştaki çocuklarını ev X bırak...  1
11       X , kur tarafındaki rahatlatıcı etki sınırlı  1
12       Tanpınar'ın kışkırtıcı sorusu belki X en çok  0
13         ürünler listesin X " wiski , hazır mezeler  1
14  Gürsel Tekin ve beraberindeki milletvekilleri ...  0
15          memnun etmiştir . Önümüzdeki dönemde X bu  0
16  olarak algıladığı ve tepki gösterdiği X aktarıldı  0
17  . Gelişmiş ülkeler X önümüzdeki dönemler X büy...  1
18  direnci üzerin X olumlu etki sağladığına dikka...  1
19  sabaha gelindiğin X ise dolardaki düşüş devam ...  1

In [134]:
data_final = data_final.rename(columns={0: 'line'})

In [135]:
print(data_final.shape)

(170, 2)

In [136]:
data_final.to_csv('/content/drive/My Drive/Fixy/ki_data_news_final_X.csv', encoding='utf-8', index=False)